$yellow:#f9b43b;
$red: #e45028;
$orange: #e35028;
$white: #fff;
$black: #2f3234;
$grey: #d1cfcb;
$black-bg: #202020;

$z-fixed-menu: 10;
$z-header: 1;
$z-contain: 10;
$z-menu-acc: 1;
$z-menu__item--active: 5;
$z-menu-name: 3;
$z-menu-name-before: -2;
$z-reviews-hover: 10;
$z-order: 1;

@import "./_misc/normalize.scss";
@import "./_misc/fonts.scss";
@import "./_misc/media.scss";
@import "./_misc/layout.scss";
@import "./_misc/mixins.scss";


@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/btn.scss";
@import "./blocks/hamburger-menu-link.scss";
@import "./blocks/close-icon.scss";
@import "./blocks/fixed-menu.scss";
@import "./blocks/first.scss";
@import "./blocks/title.scss";
@import "./blocks/arrow-icon.scss";
@import "./blocks/best.scss";
@import "./blocks/meat.scss";
@import "./blocks/hend.scss";
@import "./blocks/burger.scss";
@import "./blocks/arrow-left.scss";
@import "./blocks/slide.scss";
@import "./blocks/slider.scss";
@import "./blocks/contain.scss";
@import "./blocks/burger-icon.scss";
@import "./blocks/contain-icon.scss";
@import "./blocks/kkal.scss";
@import "./blocks/kkal-icon.scss";
@import "./blocks/arrow-right.scss";
@import "./blocks/leaf.scss";
@import "./blocks/team.scss";
@import "./blocks/menu.scss";
@import "./blocks/reviews.scss";
@import "./blocks/order.scss";
@import "./blocks/form.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
@import "./blocks/phone.scss";
@import "./blocks/network.scss";
@import "./blocks/vk.scss";
@import "./blocks/fb.scss";
@import "./blocks/inst.scss";
@import "./blocks/tw.scss";