.best {
  @include bg-section (bg-we);
}
.best__container {
  height: 100%;
  display: flex;
}
.best__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.best__title {
  margin-bottom: rem(50px);
  @include phones {
    font-size: rem(50px);
    margin-bottom: rem(38px);
  }
}
.best__list {
  display: flex;
  justify-content: space-between;
  @include phones {
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
  }
}
.best__item {
  // margin-right: rem(35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3 - 2%);

  @include tablets {
    width: calc(100%/3 - 1%);
  }
  @include phones {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-bottom: rem(45px);
  }
  &:last-child {
    @include phones {
      margin-bottom: 0;
    }
  }
}
.best__icon {
  width: rem(97px);
  height: rem(89px);
  margin-bottom: rem(33px);
  @include phones {
    margin-bottom: 0;
    margin-right: rem(28px);
  }
}
.best__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include phones {
    flex: 1;
    align-items: flex-start;
    text-align: left;
  }
}
.best__subtitle {
  @include lifehack();
  margin-bottom: rem(25px);
  font-size: rem(24px);
  color: $black;
  @include phones {
    margin-bottom: rem(22px);

  }
}
.best__info {
  @include ubuntu(light);
  color: rgba($black,.8);
  line-height: 1.71;
  font-size: rem(14px);
}