.best {
  @include bg-section (bg-we);
}
.best__container {
  height: 100%;
  display: flex;
}
.best__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.best__title {
  margin-bottom: rem(50px);
}
.best__list {
  display: flex;
  justify-content: space-between;
}
.best__item {
  // margin-right: rem(35px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%/3 - 3%);

  @include tablets {
    width: calc(100%/3 - 1%);
  }
}
.best__icon {
  width: rem(97px);
  height: rem(89px);
  margin-bottom: rem(33px);
}
.best__subtitle {
  @include lifehack();
  margin-bottom: rem(25px);
  font-size: rem(24px);
  color: $black;
}
.best__desc {
  @include ubuntu(light);
  color: rgba($black,.8);
  line-height: 1.71;
  font-size: rem(14px);
}