.btn {
  padding: rem(10px) rem(12px);
  border-radius: 4px;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  line-height: 1;
  outline: none;
  @include ubuntu(medium);
  font-size: rem(13px);
  
  &--black {
    background-color: $black;
  }

  &--transp {
    background-color: transparent;
  }
}