.btn {
  padding: 10px 12px;
  border-radius: 4px;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  line-height: 1;
  @include ubuntu(medium);
  font-size: 13px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &--black {
    background-color: $black;
  }

  &--transp {
    background-color: transparent;
  }
}