.first {
  background-image: url("../../img/bg/bg-first.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.first__container {
  height: 100%;
  display: flex;
}
.first__content {
  display: flex;
  align-items: center;
}
.first__subtitle {
  @include lifehack();
  padding-top: 20px;
  font-size: 65px;
  line-height: 1;
  color: $white;
}
.first__scroll {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}