.first {
 @include bg-section (bg-first);
}
.first__container {
  height: 100%;
  display: flex;
  @include tablets {
    width: 82%;
  }
}
.first__content {
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15%;
    margin: 0 auto;
  }
}
.first__img {
  margin-right: rem(8px);
  width: 70%;
  @include tablets {
    margin-right: 0;
    width: 75%;
  }
}
.first__pic {
  max-width: 100%;
}
.first__title {
  padding-top: rem(40px);

  @include tablets {
    text-align: center;
  }
}
.first__subtitle {
  @include lifehack();
  padding-top: rem(20px);
  font-size: rem(65px);
  line-height: 1;
  color: $white;
}
.first__scroll {
  position: absolute;
  bottom: rem(40px);
  left: 50%;
  transform: translateX(-50%);
}