.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black;
  padding-top: rem(12px);
  padding-bottom: rem(12px);
  color: $white;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phones {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.footer__left {
  flex: 1;
  font-size: rem(14px);
  @include phones {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: rem(15px);
    flex-direction: column;
    text-align: center;
  }
}
.footer__address {
  @include ubuntu(light);
  margin-bottom: rem(6px);
}

.footer__phone {
  color: $red;
  @include ubuntu(bold);
  @include phones {
    display: flex;
    justify-content: center;
  }
}
.footer__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  @include phones {
    width: 100%;
    justify-content: center;
  }
}