.kkal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: $white;
  @include gagalin();
  font-size: rem(14px);
  opacity: .5;
}
.kkal__count {
  font-size: rem(20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.kkal__title {
  margin-top: rem(5px);
}