.nav__list {
  @include ubuntu(medium);
  font-size: rem(13px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  margin-right: rem(8px);
  @include tablets {
    display: none;
  } 
}
.nav__item {
  display: flex;
  align-items: center;
  color: $white;
  cursor: pointer;
  text-align: center;
  margin-right: rem(8px);
  transition: .6s;
  &:hover {
    color: $yellow;
  }
  &::before {
    content: "";
    width: rem(4px);
    height: rem(4px);
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    margin-right: rem(10px);
    transition: .6s;
    &:hover {
      background-color: $yellow;
    }
  }

  &:first-child {
    &::before {
      display: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
.nav__ref {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
}
.nav__btn {
  display: flex;
}